/* ==========================================================================
  c-intro
   ========================================================================== */

.c-intro {
  font-size: 1.9rem;
  line-height: 1.7;
  font-family: $g-code-font-family;
  color: #FFF;
}

.c-intro--lg {
  font-size: 180%;
}