/* ==========================================================================
  c-nav-toggle
   ========================================================================== */

.c-nav-toggle {
  padding: 1.2rem 0;
}

.c-nav-toggle button {
  background: none;
  border: none;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
}

.c-nav-toggle button svg {
  margin: 0 auto;
}