/* ==========================================================================
  Stylesheet for Best of 2019
  ITCSS + BEM
   ========================================================================== */
/* Settings: preprocessor variables, colors, global settings
   ========================================================================== */
/* ==========================================================================
  Settings: Colors
  Only define colors here. Don't use sass color functions, stick to hex values,
  or the color component in styleguide won't regenerate automatically anymore.
 ========================================================================== */
/* Grays
 ========================================================================== */
/* Key colors
  ========================================================================== */
/* Repeat color variables for semantic mapping
   For example, you can use this file to globally change the colors of primary buttons and links;
  these are usually mapped to $color-primary at the component level.

  This is in a separate file because _settings.color.scss is being used to generate documentation
  about the colors, and we technically cannot read variables that reference other variables.
 ========================================================================== */
/* ==========================================================================
   Variables
   ---
   Global SCSS variables (override default values defined in component files)
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Colors
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* General
   ========================================================================== */
/* Generic: CSS reset, box-sizing, global CSS tweaks
   ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Elements: element selectors, CMS-generated content
   ========================================================================== */
/* ==========================================================================
   Elements: Base
   ---
   Only use elements without selectors when really necessary.
   ========================================================================== */
/* Elements
   ========================================================================== */
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 54.16%; }
  @media (min-width: 900px) {
    html {
      font-size: 58.33%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 62.5%; } }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  line-height: 1.65;
  color: #333;
  background: #FFF;
  font-feature-settings: "liga", "kern"; }
  @media (prefers-color-scheme: dark) {
    body {
      color: #A0A4AE;
      background: #1B2130; } }

img,
video {
  max-width: 100%; }

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit; }

a {
  color: #30C2FF;
  text-decoration: none; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: 500; }

abbr[title] {
  text-decoration: none;
  opacity: 0.5; }

img {
  max-width: 100%; }

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.9) contrast(1.1); } }

/* Objects: layout-related CSS, grid, SVG icons frame, flexbox classes
   ========================================================================== */
/* ==========================================================================
    Object: Container
    ---
    Usage: Container for content - Set max widths
   ========================================================================== */
/* Variables
   ========================================================================== */
/* Object
   ========================================================================== */
.o-container {
  margin: 0 auto;
  max-width: 140rem;
  padding: 0 1.6rem; }

.o-container--small {
  margin: 0 auto;
  max-width: 56rem; }

.o-container--medium {
  margin: 0 auto;
  max-width: 72rem; }

.o-container--large {
  margin: 0 auto;
  max-width: 118rem; }

/* ==========================================================================
  Container vertical
   ========================================================================== */
/* Block spacing
   ========================================================================== */
.o-container-vertical--padding-small {
  padding: 2.4rem 0; }

.o-container-vertical {
  padding: 3.6rem 0; }

.o-container-vertical--padding-medium {
  padding: 4.8rem 0; }

.o-container-vertical--padding-large {
  padding: 6.4rem 0; }

/* Block modifiers
   Change the look of the entire block
   ========================================================================== */
.o-container-vertical--bg-alt {
  background: #EDEFF2; }

.o-container-vertical--bottom-bordered {
  border-bottom: 1px solid #D6DEE3; }

/* ==========================================================================
    Object: Flex
    ---
    Object to make a container use flexbox
   ========================================================================== */
/* Variables
   ========================================================================== */
/* Utility classes
   ========================================================================== */
.o-flex {
  display: flex; }

.o-flex--vertical {
  flex-direction: column; }

.o-flex--vertical-center {
  align-items: center; }

.o-flex--horizontal-center {
  justify-content: center; }

.o-flex--center {
  justify-content: center;
  align-items: center; }

.o-flex--justify-between {
  justify-content: space-between; }

.o-flex--justify-around {
  justify-content: space-around; }

.o-flex--justify-end {
  justify-content: flex-end; }

.o-flex--align-start {
  align-items: flex-start; }

.o-flex--align-baseline {
  align-items: baseline; }

.o-flex--wrap {
  flex-wrap: wrap; }

.o-flex--spaced > *:not(:last-child) {
  margin-right: 0.8rem; }

.o-flex--spaced-wide > *:not(:last-child) {
  margin-right: 1.6rem; }

/* Flexible items
   ========================================================================== */
.o-flex__item {
  flex: 1; }

.o-flex__item--shrink {
  flex: 0 1 0%; }

/* ==========================================================================
  Grid
  ---
  Basic flex-based grid system
  Based on flexbox and calc()
  Support:
     * IE10 and up
     * Edge, Chrome, Safari, Firefox (except very old versions)
   ========================================================================== */
.o-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.6rem;
  margin-right: 1.6rem; }

/* Grid columns (default)
   ========================================================================== */
[class*='o-grid-col'] {
  flex: 1 0 calc(100% - 3.2rem);
  min-width: 0; }

.o-grid-col-1 {
  width: calc(8.33333% - 3.2rem);
  flex: 1 1 auto; }

.o-grid-col-2 {
  width: calc(16.66667% - 3.2rem);
  flex: 1 1 auto; }

.o-grid-col-3 {
  width: calc(25% - 3.2rem);
  flex: 1 1 auto; }

.o-grid-col-4 {
  width: calc(33.33333% - 3.2rem);
  flex: 1 1 auto; }

.o-grid-col-5 {
  width: calc(41.66667% - 3.2rem);
  flex: 1 1 auto; }

.o-grid-col-6 {
  width: calc(50% - 3.2rem);
  flex: 1 1 auto; }

.o-grid-col-7 {
  width: calc(58.33333% - 3.2rem);
  flex: 1 1 auto; }

.o-grid-col-8 {
  width: calc(66.66667% - 3.2rem);
  flex: 1 1 auto; }

.o-grid-col-9 {
  width: calc(75% - 3.2rem);
  flex: 1 1 auto; }

.o-grid-col-10 {
  width: calc(83.33333% - 3.2rem);
  flex: 1 1 auto; }

.o-grid-col-11 {
  width: calc(91.66667% - 3.2rem);
  flex: 1 1 auto; }

.o-grid-col-12 {
  width: calc(100% - 3.2rem);
  flex: 1 1 auto; }

@media (min-width: 400px) {
  [class*='o-grid-col-bp1-'] {
    flex: 1 1 auto;
    margin-left: 1.6rem;
    margin-right: 1.6rem; }
  .o-grid-col-bp1-1 {
    width: calc(8.33333% - 3.2rem); }
  .o-grid-col-bp1-2 {
    width: calc(16.66667% - 3.2rem); }
  .o-grid-col-bp1-3 {
    width: calc(25% - 3.2rem); }
  .o-grid-col-bp1-4 {
    width: calc(33.33333% - 3.2rem); }
  .o-grid-col-bp1-5 {
    width: calc(41.66667% - 3.2rem); }
  .o-grid-col-bp1-6 {
    width: calc(50% - 3.2rem); }
  .o-grid-col-bp1-7 {
    width: calc(58.33333% - 3.2rem); }
  .o-grid-col-bp1-8 {
    width: calc(66.66667% - 3.2rem); }
  .o-grid-col-bp1-9 {
    width: calc(75% - 3.2rem); }
  .o-grid-col-bp1-10 {
    width: calc(83.33333% - 3.2rem); }
  .o-grid-col-bp1-11 {
    width: calc(91.66667% - 3.2rem); }
  .o-grid-col-bp1-12 {
    width: calc(100% - 3.2rem); } }

@media (min-width: 600px) {
  [class*='o-grid-col-bp2-'] {
    flex: 1 1 auto;
    margin-left: 1.6rem;
    margin-right: 1.6rem; }
  .o-grid-col-bp2-1 {
    width: calc(8.33333% - 3.2rem); }
  .o-grid-col-bp2-2 {
    width: calc(16.66667% - 3.2rem); }
  .o-grid-col-bp2-3 {
    width: calc(25% - 3.2rem); }
  .o-grid-col-bp2-4 {
    width: calc(33.33333% - 3.2rem); }
  .o-grid-col-bp2-5 {
    width: calc(41.66667% - 3.2rem); }
  .o-grid-col-bp2-6 {
    width: calc(50% - 3.2rem); }
  .o-grid-col-bp2-7 {
    width: calc(58.33333% - 3.2rem); }
  .o-grid-col-bp2-8 {
    width: calc(66.66667% - 3.2rem); }
  .o-grid-col-bp2-9 {
    width: calc(75% - 3.2rem); }
  .o-grid-col-bp2-10 {
    width: calc(83.33333% - 3.2rem); }
  .o-grid-col-bp2-11 {
    width: calc(91.66667% - 3.2rem); }
  .o-grid-col-bp2-12 {
    width: calc(100% - 3.2rem); } }

@media (min-width: 1024px) {
  [class*='o-grid-col-bp3-'] {
    flex: 1 1 auto;
    margin-left: 1.6rem;
    margin-right: 1.6rem; }
  .o-grid-col-bp3-1 {
    width: calc(8.33333% - 3.2rem); }
  .o-grid-col-bp3-2 {
    width: calc(16.66667% - 3.2rem); }
  .o-grid-col-bp3-3 {
    width: calc(25% - 3.2rem); }
  .o-grid-col-bp3-4 {
    width: calc(33.33333% - 3.2rem); }
  .o-grid-col-bp3-5 {
    width: calc(41.66667% - 3.2rem); }
  .o-grid-col-bp3-6 {
    width: calc(50% - 3.2rem); }
  .o-grid-col-bp3-7 {
    width: calc(58.33333% - 3.2rem); }
  .o-grid-col-bp3-8 {
    width: calc(66.66667% - 3.2rem); }
  .o-grid-col-bp3-9 {
    width: calc(75% - 3.2rem); }
  .o-grid-col-bp3-10 {
    width: calc(83.33333% - 3.2rem); }
  .o-grid-col-bp3-11 {
    width: calc(91.66667% - 3.2rem); }
  .o-grid-col-bp3-12 {
    width: calc(100% - 3.2rem); } }

/* Grid columns (modifiers)
   ========================================================================== */
.o-grid--no-wrap {
  flex-wrap: nowrap; }

.o-grid-col-static {
  flex: none; }

.o-grid-col-flex {
  flex: 1 1 auto; }

.o-grid--reverse {
  flex-direction: row-reverse; }

/* Components: separately styled components (buttons, form inputs, toolbars...)
   ========================================================================== */
/* ==========================================================================
  c-brand
   ========================================================================== */
.c-brand p {
  font-size: 2.2rem;
  font-weight: 500; }

.c-brand a {
  color: #000;
  padding: 0.8rem 0;
  display: inline-block;
  transition: 0.17s background ease-in-out; }
  @media (prefers-color-scheme: dark) {
    .c-brand a {
      color: #FFF; } }

.c-brand a:hover {
  background: rgba(255, 255, 255, 0.1); }

.c-brand a:focus {
  background: rgba(255, 255, 255, 0.2); }

/* ==========================================================================
  c-btn
   ========================================================================== */
.c-btn {
  white-space: nowrap;
  display: inline-block;
  color: #000;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem 1.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  border: none !important; }
  @media (prefers-color-scheme: dark) {
    .c-btn {
      color: #FFF; } }
  @media (prefers-color-scheme: dark) {
    .c-btn {
      background: rgba(255, 255, 255, 0.2); } }
  .c-btn:hover, .c-btn:focus {
    background: rgba(0, 0, 0, 0.4);
    transition: 0.17s background ease-in-out; }
    @media (prefers-color-scheme: dark) {
      .c-btn:hover, .c-btn:focus {
        background: rgba(255, 255, 255, 0.4); } }
  .c-btn--lg {
    padding: 1.4rem 2.1rem;
    font-size: 1.9rem; }

@media (min-width: 900px) {
  .c-btn--md {
    padding: 1.4rem 2.1rem;
    font-size: 1.9rem; }
  .c-btn--lg {
    padding: 1.8rem 2.8rem;
    font-size: 2.4rem; } }

/* ==========================================================================
  c-btn-toolbar
   ========================================================================== */
.c-btn-toolbar .c-btn + .c-btn {
  margin-left: 0.8rem; }

/* ==========================================================================
  c-album-cards
  ---
  Used for albums layout
   ========================================================================== */
.c-album-cards {
  display: grid;
  margin: 0 0 2.4rem;
  grid-gap: 2.4rem;
  grid-template-columns: repeat(auto-fit, minmax(4.8rem, 1fr)); }
  @media (min-width: 900px) {
    .c-album-cards {
      grid-gap: 6.4rem; } }

/* ==========================================================================
  c-album-card
   ========================================================================== */
.c-album-card {
  text-align: center;
  grid-column-end: span 4; }
  @media (min-width: 900px) {
    .c-album-card {
      grid-column-end: span 3; } }

.c-album-card__heading {
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  margin: 0 0 0.4rem; }
  @media (prefers-color-scheme: dark) {
    .c-album-card__heading {
      color: #FFF; } }

.c-album-card__body {
  padding: 1.6rem; }

.c-album-card__meta {
  opacity: 0.6;
  margin: 0.3rem 0;
  text-transform: uppercase;
  font-size: 1.3rem; }

.c-album-card__category {
  display: inline-block;
  border-radius: 1.6rem;
  padding: 0.2rem 0.8rem;
  margin: 0.4rem;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.15); }
  @media (prefers-color-scheme: dark) {
    .c-album-card__category {
      background: rgba(255, 255, 255, 0.15); } }

/* ==========================================================================
   Categories nav 
   ========================================================================== */
.c-categories-nav {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 3.2rem;
  margin-bottom: 3.2rem; }
  @media (prefers-color-scheme: dark) {
    .c-categories-nav {
      border-top: 1px solid rgba(255, 255, 255, 0.25); } }
  .c-categories-nav .c-btn {
    margin: 0.4rem; }

/* ==========================================================================
  c-content
  ---
  Usage: wrap a .c-content class around content to turn it into rich text.

  .c-h1, .c-h2, .c-body-1, c-body 2
  ---
  Usage: use these classes to style individual components like their rich text equivalent
   ========================================================================== */
.c-h1, .c-content h1,
.c-h2, .c-content h2,
.c-h3, .c-content h3,
.c-h4, .c-content h4 {
  color: #000; }
  @media (prefers-color-scheme: dark) {
    .c-h1, .c-content h1,
    .c-h2, .c-content h2,
    .c-h3, .c-content h3,
    .c-h4, .c-content h4 {
      color: #FFF; } }

.c-h1, .c-content h1 {
  font-family: "Untitled Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 3.2rem;
  margin: 0 0 3.2rem;
  line-height: 1.25; }

.c-h2, .c-content h2 {
  font-family: "Untitled Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  margin: 0 0 1.6rem;
  line-height: 1.25; }

.c-h3, .c-content h3 {
  font-family: "Untitled Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 2.1rem;
  margin: 0 0 1.5rem;
  line-height: 1.25; }

.c-h4, .c-content h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0 0 1.5rem;
  font-weight: 500; }

.c-body-1 {
  font-size: 1.7rem;
  margin: 1.5rem 0; }

.c-body-2 {
  font-size: 1.3rem;
  margin: 1.3rem 0; }

.c-content p {
  margin: 1.5rem 0; }

.c-content b, .c-content strong {
  color: #000; }
  @media (prefers-color-scheme: dark) {
    .c-content b, .c-content strong {
      color: #FFF; } }

.c-content dl {
  border: 1px solid #D6DEE3;
  border-radius: .3rem;
  overflow: hidden;
  padding: 1.2rem;
  margin: 1.5rem 0; }
  .c-content dl dt {
    float: left;
    width: 30%;
    clear: left;
    font-weight: 500; }
  .c-content dl dd {
    float: left;
    width: 70%; }

.c-content ul, .c-content ol {
  padding-left: 3rem;
  margin: 1.5rem 0; }
  .c-content ul ul, .c-content ul ol, .c-content ol ul, .c-content ol ol {
    margin: 0; }

.c-content ul {
  list-style: square; }

.c-content ol {
  list-style: decimal; }

.c-content blockquote {
  font-style: italic;
  padding-left: 1.5rem;
  margin-left: 0.2rem;
  border-left: 0.4rem solid #7894A7; }

.c-content table {
  width: 100%;
  margin: 1.5rem 0; }

.c-content table td,
.c-content table th {
  padding: 0.8rem; }

.c-content table th {
  border-bottom: 0.2rem solid #9CAFBD;
  font-weight: 500;
  text-align: left; }

.c-content table td {
  border-bottom: 1px solid #D6DEE3; }

.c-content strong {
  font-weight: 500; }

.c-content a {
  border-bottom: 1px solid currentColor; }

.c-content .c-btn {
  text-decoration: none; }

.c-content pre {
  background: #D6DEE3;
  padding: 1.5rem;
  margin: 0 0 1rem;
  white-space: pre-wrap; }

.c-content pre, .c-content code {
  font-family: Consolas, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

.c-content code {
  font-size: 90%; }

/* ==========================================================================
  c-footer
   ========================================================================== */
.c-footer {
  margin: 0 auto; }

@media (min-width: 620px) {
  .c-footer ul {
    display: flex; } }

.c-footer li {
  padding: 0.8rem 1.6rem 0.8rem 0; }
  @media (min-width: 620px) {
    .c-footer li {
      padding: 1.6rem; } }

.c-footer a {
  color: #666; }
  @media (prefers-color-scheme: dark) {
    .c-footer a {
      color: #999; } }

.c-footer a:hover,
.c-footer a:focus {
  color: #000; }
  @media (prefers-color-scheme: dark) {
    .c-footer a:hover,
    .c-footer a:focus {
      color: #FFF; } }

/* ==========================================================================
  c-header
   ========================================================================== */
.c-header {
  padding: 1.6rem; }

/* ==========================================================================
  c-intro
   ========================================================================== */
.c-intro {
  font-size: 1.9rem;
  line-height: 1.7;
  font-family: Consolas, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  color: #000; }
  @media (prefers-color-scheme: dark) {
    .c-intro {
      color: #FFF; } }

.c-intro--lg {
  font-size: 180%; }

/* ==========================================================================
  c-mobile-header
   ========================================================================== */
/* ==========================================================================
  Component: nav
   ========================================================================== */
.c-nav a {
  padding: 1.6rem;
  font-size: 1.5rem;
  font-family: Consolas, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  display: inline-block;
  padding: 1.6rem; }
  .c-nav a:hover, .c-nav a:focus {
    background: rgba(0, 0, 0, 0.1);
    transition: 0.17s background ease-in-out;
    color: #000; }
    @media (prefers-color-scheme: dark) {
      .c-nav a:hover, .c-nav a:focus {
        background: rgba(255, 255, 255, 0.1); } }
    @media (prefers-color-scheme: dark) {
      .c-nav a:hover, .c-nav a:focus {
        color: #FFF; } }

.c-nav a.active {
  background: rgba(0, 0, 0, 0.1);
  color: #000; }
  @media (prefers-color-scheme: dark) {
    .c-nav a.active {
      background: rgba(255, 255, 255, 0.1);
      color: #FFF; } }

.c-nav-logo-holder {
  display: flex;
  justify-content: space-between; }

/* ==========================================================================
  c-nav-mobile 
   ========================================================================== */
.c-nav-mobile {
  background: #EEE;
  position: fixed;
  top: 6.4rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  overflow: auto;
  height: 100%;
  width: 100%; }
  @media (prefers-color-scheme: dark) {
    .c-nav-mobile {
      background: #0B101C; } }

.c-nav-mobile a {
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  padding: 0.6rem 1.6rem;
  font-size: 4.8rem;
  display: block;
  color: #000;
  font-weight: 500;
  font-family: Consolas, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }
  @media (prefers-color-scheme: dark) {
    .c-nav-mobile a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.13); } }
  @media (prefers-color-scheme: dark) {
    .c-nav-mobile a {
      color: #FFF; } }

.c-nav-mobile a:hover,
.c-nav-mobile a:focus {
  background: rgba(0, 0, 0, 0.1); }
  @media (prefers-color-scheme: dark) {
    .c-nav-mobile a:hover,
    .c-nav-mobile a:focus {
      background: rgba(255, 255, 255, 0.1); } }

.c-nav-mobile a:last-child {
  border: none; }

/* ==========================================================================
  c-nav-toggle
   ========================================================================== */
.c-nav-toggle {
  padding: 1.2rem 0; }

.c-nav-toggle button {
  background: none;
  border: none;
  height: 3.2rem;
  width: 3.2rem;
  display: flex; }

.c-nav-toggle button svg {
  margin: 0 auto; }

/* ==========================================================================
  c-sticky-footer-layout
  ---
  Implement sticky footer
  Meant for homepage on large layouts
   ========================================================================== */
.c-sticky-footer-layout {
  display: flex;
  flex-direction: column;
  height: 100%; }

.c-sticky-footer-layout__item {
  flex: 0 1 auto; }

.c-sticky-footer-layout__item--grow {
  flex: 1 1 auto;
  display: flex; }

.c-sticky-footer-layout__item-inner-center {
  margin: auto; }

/* Utilities: specific helper classes, overrides
   ========================================================================== */
/* ==========================================================================
  Utility: generic
  ---
  Set of generic helping classes
   ========================================================================== */
.u-maximize-height {
  height: 100% !important; }

.u-maximize-width {
  width: 100% !important; }

.u-float-right {
  float: right !important; }

.u-center-m {
  margin: 0 auto !important; }

.u-nowrap {
  white-space: nowrap !important; }

.u-position-relative {
  position: relative !important; }

.u-position-absolute {
  position: absolute !important; }

.u-ta-center {
  text-align: center !important; }

.u-hidden {
  display: none !important; }

.u-opacity-50 {
  opacity: 0.5; }

.u-scroll {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch; }

.u-overflow-hidden,
.u-kill-scroll {
  overflow: hidden !important; }

.u-m0 {
  margin: 0 !important; }

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/* ==========================================================================
  Utility: spacer
   ========================================================================== */
/* Resets
   ========================================================================== */
.u-m-0 {
  margin: 0 !important; }

.u-p-0 {
  padding: 0 !important; }

/* Variables
   ========================================================================== */
/* All
   ========================================================================== */
.u-spacer-s {
  margin: 0.8rem !important; }

.u-spacer {
  margin: 1.6rem !important; }

.u-spacer-l {
  margin: 2.4rem !important; }

/* Left
   ========================================================================== */
.u-spacer-left-s {
  margin-left: 0.8rem !important; }

.u-spacer-left {
  margin-left: 1.6rem !important; }

.u-spacer-left-l {
  margin-left: 2.4rem !important; }

/* Right
   ========================================================================== */
.u-spacer-right-s {
  margin-right: 0.8rem !important; }

.u-spacer-right {
  margin-right: 1.6rem !important; }

.u-spacer-right-l {
  margin-right: 2.4rem !important; }

/* Top
   ========================================================================== */
.u-spacer-top-s {
  margin-top: 0.8rem !important; }

.u-spacer-top {
  margin-top: 1.6rem !important; }

.u-spacer-top-l {
  margin-top: 2.4rem !important; }

/* Bottom
   ========================================================================== */
.u-spacer-bottom-s {
  margin-bottom: 0.8rem !important; }

.u-spacer-bottom {
  margin-bottom: 1.6rem !important; }

.u-spacer-bottom-l {
  margin-bottom: 2.4rem !important; }

/* ==========================================================================
  Utility: display
  ===
  Display-related utility classes
   ========================================================================== */
/* Utilities
   ========================================================================== */
.u-d-block {
  display: block; }

@media (max-width: 900px) {
  .c-two-col__image {
    margin-bottom: 1.2rem; } }

/*# sourceMappingURL=main.css.map */